<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main"> <header
			th:replace="fragments/jumbotron :: jumbotron">
			<div>jumbotron</div>
		</header> <input id="mes" type="hidden" th:value="${mes}"> <input
			id="ano" type="hidden" th:value="${ano}">

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row mb-3 justify-content-md-center">
					<div class="col-sm-4 text-center">
						<button id=voltarMesAtual class="btn btn-link btn-sm">
							<span title="próximo" aria-hidden="true"></span> <i
								class="fas fa-angle-double-left"></i> Voltar data atual <i
								class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
				<div class="row mb-3 justify-content-between">
					<div class="col-sm-4 align-self-center">
						<button id=anterior class="btn btn-link btn-sm"
							data-toggle="tooltip" data-placement="right" title="Anterior">
							<span title="próximo" aria-hidden="true"></span> <i
								class="fas fa-angle-double-left"></i>
						</button>
					</div>
					<div class="col-sm-4 text-center align-self-center">
						<span id="mesAtual" class="h5 text-primary"></span>/<span
							id="anoAtual" class="h5 text-primary"></span>
					</div>
					<div class="col-sm-4 text-right align-self-center">
						<button id="proximo" class="btn btn-link btn-sm float-right"
							data-toggle="tooltip" data-placement="right" title="próximo">
							<span title="próximo" aria-hidden="true"></span> <i
								class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">

						<h4 class="text-primary">
							<i class="fas fa-file-invoice-dollar"></i> Receitas
						</h4>
						<hr />
						<div class="container table-responsive">
							<table id="table-lancamento-receita"
								class="table table-sm table-striped table-bordered nowrap hover display"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th class="text-center" scope="col">#</th>
										<th scope="col">Nome</th>
										<th class="text-center" scope="col">Valor</th>
										<th class="text-center" scope="col">Data recebimento</th>
										<th scope="col">Fornecedor</th>
										<th scope="col">Data lançamento</th>
										<th scope="col">Descrição</th>
										<th class="text-center" scope="col">Editar</th>
										<th class="text-center" scope="col">Excluir</th>

									</tr>
								</thead>

							</table>
						</div>
					</div>
				</div>

				<div class="row  mt-4">
					<div class="col-md-12">

						<h4 class="text-primary">
							<i class="fas fa-file-invoice-dollar"></i> Despesas
						</h4>
						<hr />
						<div class="container table-responsive">
							<table id="table-lancamento-despesa"
								class="table table-sm table-striped table-bordered nowrap hover display"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th class="text-center" scope="col">#</th>
										<th scope="col">Nome</th>
										<th class="text-center" scope="col">Valor</th>
										<th class="text-center" scope="col">Data</th>
										<th scope="col">Data Pag.</th>
										<th scope="col">data Venc.</th>
										<th scope="col">Gasto Fixo</th>
										<th scope="col">Pagamento</th>
										<th scope="col">Qtd. Parcelas</th>
										<th scope="col">Parcela</th>
										<th scope="col">Valor Parcela</th>
										<th scope="col">Forma Pag.</th>
										<th scope="col">Fornecedor</th>
										<th scope="col">Categoria</th>
										<th scope="col">Descrição</th>
										<th class="text-center" scope="col">Editar</th>
										<th class="text-center" scope="col">Excluir</th>

									</tr>
								</thead>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script th:src="@{/js/lancamento.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>
</body>

</html>