<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>

    <section class="layout-content" layout:fragment="corpo">
        <main role="main">
            <header th:replace="fragments/jumbotron :: jumbotron">
                <div>jumbotron</div>
            </header> <input id="mes" type="hidden" th:value="${mes}"> <input id="ano" type="hidden" th:value="${ano}">

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row mb-3 justify-content-md-center">
                        <div class="col-sm-4 text-center">
                            <button id=voltarMesAtual class="btn btn-link btn-sm">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-left"></i> Voltar data atual <i
                                    class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-between">
                        <div class="col-sm-4 align-self-center">
                            <button id=anterior class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="right"
                                title="Anterior">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-left"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 text-center align-self-center">
                            <span id="mesAtual" class="h5 text-primary"></span>/<span id="anoAtual"
                                class="h5 text-primary"></span>
                        </div>
                        <div class="col-sm-4 text-right align-self-center">
                            <button id="proximo" class="btn btn-link btn-sm float-right" data-toggle="tooltip"
                                data-placement="right" title="próximo">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul th:each="d : ${despesas}">
                                <li>
                                    <div class="card border-left-danger shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col">
                                                    <div class="text-xs font-weight-bold text-secondary text-uppercase">
                                                        <span th:text="${d.nome}"></span> / <span
                                                            th:text="${d.descricao}"></span> </div>
                                                    <hr class="border border-danger-50 mb-4" />
                                                    <div class="d-flex justify-content-between">
                                                        <h3><span class="badge badge-danger"
                                                                th:text="|R$ ${{d.valor}}|"></span></h3>

                                                        <div class="text-right text-danger">
                                                            <label for=""><strong>Vencimento: </strong></label>
                                                            <span th:text="${#temporals.format(d.dtVencimento, 'dd/MM/yyyy')}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Pagar">
                                                        <i class="fas fa-check fa-2x text-success-50"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div th:text="${d.nome}">
                                    </div>
                                    <div th:text="${d.descricao}"></div>
                                    <div th:text="|R$ ${{d.valor}}|"></div>
                                    <div th:text="${#temporals.format(d.dtVencimento, 'dd/MM/yyyy')}"></div>
                                    s<i class="fas fa-check text-success"></i> -->
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>
            </div>

        </main>

    </section>
    <script th:src="@{/js/despesas.js?(v=${version})}" th:fragment="js"></script>
    <script th:inline="javascript" th:fragment="inlinescript">
    </script>
</body>

</html>