<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>

    <section class="layout-content" layout:fragment="corpo">
        <main role="main">
            <header th:replace="fragments/jumbotron :: jumbotron">
                <div>jumbotron</div>
            </header> <input id="mes" type="hidden" th:value="${mes}"> <input id="ano" type="hidden" th:value="${ano}">

            <div class="album py-5 bg-light m-0">
                <div class="container">
                    <div class="row mb-3 justify-content-md-center">
                        <div class="col-sm-4 text-center">
                            <button id=voltarMesAtual class="btn btn-link btn-sm">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-left"></i> Voltar data atual <i
                                    class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-between ml-4">
                        <div class="col-4 align-self-center">
                            <button id=anterior class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="right" title="Anterior">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-left"></i>
                            </button>
                        </div>
                        <div class="col-4 text-center align-self-center">
                            <span id="mesAtual" class="h5 text-primary"></span>/<span id="anoAtual" class="h5 text-primary"></span>
                        </div>
                        <div class="col-4 text-right align-self-center">
                            <button id="proximo" class="btn btn-link btn-sm float-right" data-toggle="tooltip" data-placement="right" title="próximo">
                                <span title="próximo" aria-hidden="true"></span> <i
                                    class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>


                    <div class="despesa" th:insert="pagamento/despesas-card"></div>
                </div>


            </div>

        </main>


    </section>
    <script th:src="@{/js/despesas.js?(v=${version})}" th:fragment="js"></script>
    <script th:inline="javascript" th:fragment="inlinescript">
    </script>
</body>

</html>