<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">

<body>

	<div th:fragment="alerta-sucesso" class="d-flex flex-row-reverse">
		<div id="alerta" th:if="${sucesso != null}" class="col-6">
			<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
				<div class="toast-header bg-success-50">
					<i class="fas fa-check-circle mr-1"></i>
					<strong class="mr-auto">Sucesso!</strong>
					<small></small>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast"><i class="fas fa-times btn-close"></i></button>
				</div>
				<div class="toast-body bg-success-20">
					<span>
						<strong th:text="${sucesso}"></strong>
					</span>
				</div>
			</div>
		</div>

		<div th:if="${falha != null}" class="col-6">
			<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
				<div class="toast-header bg-danger-50">
					<i class="fas fa-exclamation-circle mr-1"></i>
					<strong class="mr-auto">Falha</strong>
					<small></small>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">btn-close</button>
				</div>
				<div class="toast-body bg-danger-20">
					<span>
						<strong th:text="${falha}"></strong>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>