<!DOCTYPE html >
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<body>
	<!-- Modal -->
	<div th:fragment="modal-tipolanc"
			class="modal fade" id="tipolanc-modal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
				<div class="card">
					<div class="modal-header bg-light text-primary">
						<div class="modal-title" id="exampleModalLabel">
							<p class="font-weight-bolder">
								<i class="fas fa-exclamation-triangle"></i>
								Qual tipo Lançamento?
							</div>
							
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true" class="text-white">&times;</span>
						</button>
					</div>
					<div class="modal-body text-center">
						<a class="btn btn-info mr-5" th:href="@{/lancamentos/cadastrar/receita}">RECEITA</a>
						<a class="btn btn-danger" th:href="@{/lancamentos/cadastrar/despesa}">DESPESA</a>
					</div>
					<div class="modal-footer">
						<button id="btnCancel" type="button" class="btn  btn-link"
							data-dismiss="modal">Cancelar</button>
<!--						<button id="btnReceita" type="button" class="btn btn-info" th:href="@{/lancamentos/cadastrar/receita}">Receita</button>-->
						
					</div>
				</div>
			</div>
	</div>
	</div>
</body>
</html>