<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap');
</style>

body {
	font-family: 'Montserrat', sans-serif;
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.bg-acai {
    background-color: #610631 !important;
}


li .nav-item .dropdown .show {
    background-color: #6c0631 !important;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 200;
}

.jumbotron .container {
  max-width: 80rem;
}

.icons{
	color: #007BFF;
}

.table .thead-dark th {
	background-color: #007BFF;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.modal .modal-body input, .modal .modal-body textarea{
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

.modal-header h4.modal-title {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.modal-body label {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

/* jQuery loading autocomplete */
.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}

section {
	animation-name: titulo-capa;
    animation-duration: 5s;
}

@keyframes titulo-capa {
    0% {opacity: 0;transform: translate(0,-20px)}
    100% {opacity: 1;transform: translate(0,0)}
}
