body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Exo', sans-serif;
    font-weight: 200;
}

th {
    white-space: nowrap;
}

.layout-main {
    min-height: 39rem;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.bg-acai {
    background-color: #610631 !important;
}

li .nav-item .dropdown .show {
    background-color: #6c0631 !important;
}

 /* Lista de Pagamento */
li {
    list-style: none;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 200;
}

.jumbotron .container {
    max-width: 80rem;
}

.icons {
    color: #007BFF;
}

.table .thead-dark th {
    background-color: #007BFF;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.modal .modal-body input,
.modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

.modal-header h4.modal-title {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.modal-body label {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.border-left-primary {
    border-left: 0.25rem solid #007BFF !important;
}

.border-left-danger {
    border-left: 0.25rem solid #dc3545 !important;
}

.text-danger-50 {
    color: rgba(220, 53, 69, .5);
}

.text-success-50 {
    color: rgba(40, 167, 69, .5);
}

.bg-success-50 {
    background-color: rgba(40, 167, 69, .45);
    color:white;
    font-weight: bold;
}

.bg-success-20 {
    background-color: rgba(40, 167, 69, .3);
    color:white;
}

.bg-danger-50 {
    background-color: rgba(220, 53, 69, .45);
    color:white;
    font-weight: bold;
}

.bg-danger-20 {
    background-color: rgba(220, 53, 69, .3);
    color:white;
}

.text-primary-50 {
    color: rgba(0, 123, 255, .5);
}

.border-left-success {
    border-left: 0.25rem solid #28a745 !important;
}

.border-success-50 {
    border-color: rgba(40, 167, 69, .45) !important;
}

.border-danger-50 {
    border-color: rgba(220, 53, 69, .45) !important;
}

.border-primary-50 {
    border-color: rgba(0, 123, 255, .45) !important;
}

.btn-close{
    font-size: 1rem;
    color: white !important;
}

/* jQuery loading autocomplete */

.ui-autocomplete-loading {
    background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}

section {
    animation-name: titulo-capa;
    animation-duration: 2s;
}

@keyframes titulo-capa {
    0% {
        opacity: 0;
        transform: translate(0, -20px)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
}