<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main"> <header
			th:replace="fragments/jumbotron :: jumbotron">
			<div>jumbotron</div>
		</header>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-8">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
								<li class="breadcrumb-item"><a th:href="@{/fornecedores/lista}">Fornecedores</a></li>
								<li class="breadcrumb-item active" aria-current="page">Cadastro</li>
							</ol>
						</nav>

						<div th:replace="fragments/alert :: alerta-sucesso"></div>

						<form th:action="@{/fornecedores/salvar}"
							th:object="${fornecedor}" method="POST" class="was-validated">

							<div class="form-row mb-3">

								<div class="col-md-12">
									<label for="nome">Nome</label> <input type="text"
										class="form-control" id="nome" th:field="*{nome}"
										placeholder="Nome"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Nome é requerido.</div>
								</div>
							</div>

							<div class="form-row mb-3">
								<div class="col-md-6">

									<label for="nome">Data de Cadastro</label> <input
										class="form-control" type="date" id="data"
										th:field="*{dtCadastro}" required />
									<div class="invalid-feedback">Data é obrigatória.</div>

								</div>

								<div class="col-md-6">
									<label for="nome">Atividade</label> <input type="text"
										class="form-control" id="atividade" th:field="*{atividade}"
										placeholder="Exemplo: Supermercado" />

								</div>

							</div>

							<div class="form-row mb-3">
								<div class="col-md-4">
									<label for="cep">CEP</label> <span data-toggle="tooltip"
										data-placement="right" title="Digite Cep válido"><i
										class="fas fa-exclamation-triangle text-danger"></i></span> <input
										type="text" class="form-control" id="cep"
										th:field="*{endereco.cep}" placeholder="Cep: 66.000-000"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Cep é requerido.</div>
								</div>
							</div>

							<div class="form-row mb-3">

								<div class="col-md-8">
									<label for="logradouro">Logradouro</label> <input type="text"
										class="form-control" id="logradouro"
										th:field="*{endereco.logradouro}" placeholder="nome da rua"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Logradouro é requerido.</div>
								</div>

								<div class="col-md-4">
									<label for="numero">Número</label> <input type="text"
										class="form-control" id="numero" th:field="*{endereco.numero}"
										placeholder="número"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Número é requerido.</div>
								</div>

								<div class="col-md-6">
									<label for="bairro">Bairro</label> <input type="text"
										class="form-control" id="bairro" th:field="*{endereco.bairro}"
										placeholder="Bairro"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Nome do bairro é requerido.</div>
								</div>

								<div class="col-md-6">
									<label for="complemento">Complemento</label> <input type="text"
										class="form-control" id="complemento"
										th:field="*{endereco.complemento}" placeholder="Complemento" />
								</div>

								<div class="col-md-6">
									<label for="cidade">Cidade</label> <input type="text"
										class="form-control" id="cidade" th:field="*{endereco.cidade}"
										placeholder="Cidade"
										aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">Nome da cidade é requerido.</div>
								</div>

								<div class="col-md-4">
									<label for="estado">UF</label> <input type="text"
										class="form-control" id="estado" th:field="*{endereco.estado}"
										placeholder="UF" />
								</div>

							</div>

							<!-- Telefones -->
							<div class="form-row mb-3">
								<div id="phones-wrapper">
									<label>Telefone:</label>

									<div th:each="phone, status : *{telefones}">
										<div class="input-group phones mb-4">

											<div class="input-group-prepend">
												<span class="input-group-text">+55</span>
											</div>

											<input th:field="*{telefones[__${status.index}__].numero}"
												class="form-control tel" type="text" required="required" />
											<!-- <p th:each="err: ${#fields.errors('contact.phones[__${status.index}__].number')}"
                                           th:text="${err}"
                                           class="invalid-feedback"
                                            ></p> -->
										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col">
									<button class="btn btn-dark float-right" type="button"
										onclick="createPhone()">
										<i class="fas fa-plus-square"></i>
									</button>
								</div>
							</div>

							<hr />
							<input type="hidden" th:field="*{id}">
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary"
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
							<div></div>
						</form>


					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script th:src="@{/js/fornecedor.js?(v=${version})}" th:fragment="js"></script>
	<script th:src="@{/js/endereco.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>
</body>
</html>