<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main"> <header
			th:replace="fragments/jumbotron :: jumbotron">
			<div>jumbotron</div>
		</header>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<h2><i class="fas fa-cart-arrow-down icons"></i> Fornecedores Cadastrados</h2>
						<hr/>

						<table id="table-fornecedor"
							class="table table-sm table-striped table-bordered nowrap hover"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nome</th>
									<th scope="col">Data Cadastro</th>
									<th scope="col">Atividade</th>
									<th scope="col">Logradouro</th>
									<th scope="col">Número</th>
									<th scope="col">Complemento</th>
									<th scope="col">CEP</th>
									<th scope="col">Bairro</th>
									<th scope="col">Cidade</th>
									<th scope="col">UF</th>
									<th scope="col">Editar</th>
						      		<th scope="col">Excluir</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script th:src="@{/js/fornecedor.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>
</body>
</html>