<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <main role="main">

        <section class="jumbotron text-center">
            <img class="d-block mx-auto mb-4" th:src="@{/image/logo2.png}"
                 width="72" height="72">
            <div class="container">
                <h1 class="jumbotron-heading">Sistema Financeiro</h1>
                <p class="lead text-muted">Contamos com toda a infraestrutura e
                    segurança para você e sua família.  Cadastre-se e agende suas consultas
                    com os melhores médicos da região.</p>
            </div>
        </section>

        <div class="album py-5 bg-light">

            <div class="container">

                <div class="row">







                </div>
            </div>
        </div>

    </main>
</section>
<script th:src="~{}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>